crowdLib/*.o
crowdDemo/obj
*.qmake.stash
*.qmake.cache
crowdLib/CrowdLib.pro.user*
crowdLib/MakeFile
crowdLib/Makefile
crowdDemo/MakeFile
crowdDemo/Makefile
crowdLib/lib*
crowdDemo/CrowdDemo.pro.user*
crowdDemo/BlackFriday
build-*